{% extends 'base.html' %}

{% block content %}


<div class="container">
  <h2>Login</h2>
  <form action="/login/" method="POST">{% csrf_token %}
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
    </div>
    
     <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

{% endblock content %}