<!DOCTYPE html>
<html lang="en">
<head>
  <title>MyWallet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  
<ul class="navbar-nav ">
    <li class="nav-item active">
      <a class="nav-link" href="#">MyWallet</a>
    </li>
{% if user.is_authenticated %}
   {% block balance %}
    <li class="nav-item justify-content-end">
      <a class="nav-link " href="#">Balance Rs.{% for i in current_balance %}{{ i.current_balance }} {% endfor %}</a>
    </li>

    {% endblock balance %}

{% endif %}

     <li class="nav-item justify-content-end">
      <a class="nav-link " href="{% url 'wallet:withdrow' %}">Withdraw</a>
    </li>

     <li class="nav-item justify-content-end">
      <a class="nav-link " href="{% url 'wallet:deposit' %}">Deposit</a>
    </li>



  </ul>

  <ul class="navbar-nav ml-auto">
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link " href="{% url 'accounts:logout' %}">Welcome {{ user.username }}</a>
    </li>

    <li class="nav-item">
      <a class="nav-link " href="{% url 'accounts:logout' %}">Logout</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link " href="{% url 'accounts:login' %}">Login</a>
    </li>

    <li class="nav-item">
      <a class="nav-link " href="{% url 'accounts:signup' %}">Register</a>
    </li>

    {% endif %}

  </ul>
</nav>
{% block content %}

{% endblock content %}
</body>
</html>
