{% extends 'base.html' %}



{% block balance %}


 <li class="nav-item justify-content-end">
      <a class="nav-link " href="#">Balance Rs.{{ balance.current_balance }}</a>
    </li>

{% endblock balance %}





{% block content %}

<div class="container">
  <h2>Deposit</h2>
  <form action="/wallet/deposit/" method="POST">{% csrf_token %}
    
    {% if error %}
    <div class="alert alert-danger">
  <strong>!</strong> {{ error }}
</div>
    {% endif %}
    <div class="form-group">
      <label for="amount">Amount:</label>
      <input type="integer" class="form-control" id="pwd" placeholder="Enter amount" name="amount">
    </div>
    
     <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

{% endblock content %}